fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
httpx
beautifulsoup4
lxml
groq
google-genai
qdrant-client
redis
python-multipart
python-dotenv
pdfplumber
python-docx
pytesseract
pdf2image
supabase
